.main-nav-bar {
    text-align: center;
}

.main-nav-bar ul {
    border: 2px solid blue;
    margin: auto 35%;
    padding: 5px 15px;
    background-image: linear-gradient(90deg, white, blue, black, black 50%, black, red, green);
}

.main-nav-bar li {
    text-align: justify;
    list-style-type: none;
    padding: 5px;
    display: inline-block;
}

.main-nav-bar a {
    color: white;
}

.main-nav-bar a:hover {
    color: orange;
}

h1 {
    text-align: center;
    text-color: rgb(220,220,220);
}

div {
    text-align: center;
    color: rgb(200,200,200);
    margin: auto 20%;
}

body {
    background: url("Magic_card_back.webp") repeat-y scroll,
    url("Magic_card_back.webp") right top repeat-y scroll rgb(34,36,54);
    background-size: 175px 225px;
}

p a {
    color: black;
}

.table table {
    margin: 25px auto;
    width: 100%;
}

.formats-table table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

.formats-table table {
    width: 100%;
}
